html,
body {
  font-family: "Muli" !important;
}

.alert-success {
    background-color: #232c51 !important;
    border-radius: 10px !important;
    color: white !important;
    font-size: 12pt;
    text-align: center;
    padding-right: 60px;
}
/*Coloca un padding en el div del apert para que se vea centrada la alerta*/
#idDivAlert {
    display: table;
    margin: 0 auto ;
    z-index: -1;
}
.close {
    color: #e6defd!important;
    opacity: 1!important;
    text-shadow: none!important;
}

/*Coloca el botón sobre la linea azul del div*/
#idButtonDiv {
    height: 30px;
    position: relative;
    top: 40px;
    z-index: 1;
    padding-right: 15px;
}
