/*Botón Generar*/
#xeroGenerate {
  background-color: #232c51;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 0.9em;
  width: 110px;
  color: white;
}

.xeroGenerate {
  background-color: #232c51;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 0.9em;
  width: 110px;
  color: white;
}

#xeroGenerate:hover {
  background-color: #7158e2; /* Change the value to with anchors hover color*/
  color: white;
}

.xeroGenerate:hover {
  background-color: #7158e2; /* Change the value to with anchors hover color*/
  color: white;
}

/*DropDown de los periodos*/
#ddlPeriodo {
  width: 200px;
  height: 30px;
  border-radius: 7px;
  border-color: #7158e2;
  color: #232c51;
}

.ddlPeriodo {
  width: 200px;
  height: 30px;
  border-radius: 7px;
  border-color: #7158e2;
  color: #232c51;
}

/*txtDate de los periodos*/
.calendar {
  width: 200px;
  height: 30px;
  border-radius: 7px;
  border-color: #7158e2;
  color: #232c51;
  cursor: pointer;
}

/*Color selected date in calendar*/
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range {
  background-color: #7158e2;
  font-size: 14px;
}

/*Color selected date in calendar on load*/
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected {
  background-color: #7158e2;
  font-size: 14px;
}
