.two-buttons-container {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.dropdown-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.accounts-button {
    display: flex;
    justify-content: center;
}