.padding-accordion-bank {
    padding: 20px 0;
    font-family: Muli;
}

.color-blue-background {
    color: #232c51;
}

.underline {
    text-decoration: underline !important;
    font-weight: bold;
    cursor: pointer;
}

.accordion-flex {
    display: flex;    
    color: #232c51;
    justify-content: space-evenly;
}

.container-button-load {
    display: flex;
    justify-content: space-evenly;
}