.container-transformation {
	margin-left: 5px;
	margin-right: 5px;
	padding: 20px;
	font-size: 0.9em;
	border: 1px solid #f5f6fa;
	border-radius: 10px;
	position: relative;
	flex:1;
}

.container-transformation img.searchBankRecords {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
}

.container-transformation img.searchBankRecords:hover {
	filter: brightness(0.5);
	cursor: pointer;
}

.container-transformation h3 {
	color: #232c51;
	font-family: "Muli", sans-serif;
	margin: 0 0 1em;
	width: 80%;
}

.container-transformation .file-path {
	color: #232c51;
	font-weight: bold;
}

.container-transformation strong {
	font-weight: bold;
	color: #7962e3;
}

.container-transformation ul {
	list-style-type: disc !important;
}

.descriptionOrderedList {
	padding: 15px 0 0 15px;
}

.descriptionUnorderedList {
	padding: 5px 0 15px 15px;
}

#banksTransacctionsGrid .ag-root-wrapper{
	border-radius: 10px;
	border-top:1px solid #e5e5ea!important;
}

.transformationInstructions{
	min-height: 250px;
}
