.padding-accordion-bank {
    padding: 20px 0;
    font-weight:100;
}

.color-blue-background {
    color: #232c51;
}

.underline {
    text-decoration: underline !important;
    font-weight: bold;
    cursor: pointer;
    color: #7158E2!important;
}

.accordion-flex {
    display: flex;    
    color: #232c51;
    justify-content: space-evenly;
}

.container-button-load {
    display: flex;
    justify-content: space-evenly;
}

.acoordionOptionArrow img{
    height:10px;
}

.arrowUp{
    transform:rotate(180deg);
    -webkit-transform: rotate(180deg);
    display: block;
}