.inputFileContainer {
	display: flex;
	align-items: center;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFileLabel {
	font-size: 0.9em;
	margin: 0;
	background-color: #efeff7;
	border: 1px solid #e5e5ea;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: 100!important;
	color: rgba(35, 44, 81, 0.6);
}

.inputFileLabel:hover {
	background-color: #e5e5f3;
}
