.OrgGroupSelection .rw-input-reset{
	font-size: 1rem;
	font-weight: 100;
}

.OrgGroupSelection .rw-popup{
	box-shadow: 0px 4px 8px rgba(35, 44, 81, 0.08);
	border-style: none;
	border-radius: 8px;
	padding: 5px;
	margin-top: 15px;
}

.OrgGroupSelection .rw-filter-input .rw-select, .rw-filter-input .rw-btn{
	background: transparent!important;
}

.OrgGroupSelection .rw-popup .rw-btn{
	margin-bottom: 10px;
}

.OrgGroupSelection .rw-popup .rw-list-option > span{
	display: flex;
	align-items: center;
}

.OrgGroupSelection .rw-popup .rw-list-option > span strong{
	margin-right: 10px;
	margin-bottom: 2px;
}

.OrgGroupSelection .rw-list-option:hover{
	background-color: #E6DEFD;
	border-style: none;
	color: #232c51;
	border-radius: 8px;
}

.OrgGroupSelection .rw-list-option:hover.rw-state-focus{
	color: #232c51;
}

/* asigna el tamaño de la lista desplegable*/
.rw-list {
	font-size: 0.8rem;
	max-height: 300px;
}

/* asigna color y borde del dllprincipal */
.rw-widget > .rw-widget-container {
	border-radius: 10px !important;
	height: auto !important;
	padding: 4px;
	background-color: #232c51 !important;
	color: white !important;
	border-color: #232c51 !important;
}

.rw-list-option.rw-state-selected,
.rw-list-option.rw-state-selected:hover {
	background-color: #e6defd !important;
	color: #5540c2 !important;
}

.rw-input {
	color: white !important;
}

.rw-filter-input .rw-select,
.rw-filter-input .rw-btn {
	color: black !important;
	background-color: #eceded;
}

/* asigna estilo del input */
.rw-filter-input {
	color: #232c51 !important;
	background-color: #F5F6FA;
	border-radius: 8px;
	height: 30px;
	border-style: none;
	box-shadow: none;
}

.rw-btn {
	color: white !important;
}

#basic-navbar-nav {
	color: #232c51 !important;
	font-size: 10pt !important;
	height: 100%;
}

.rw-list-empty,
.rw-list-option,
.rw-list-optgroup {
	padding-top: 10px !important;
	padding-bottom: 7px !important;
}

#basic-navbar-nav a:hover,
#basic-navbar-nav a.active {
	color: #5540c2 !important;
}

.dropdown-item {
	color: #232c51 !important;
	font-size: 10pt !important;
	border-color: #232c51 !important;
}

.dropdown-item.active,
.dropdown-item:active {
	border-color: #5540c2 !important;
	background-color: #e6defd !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
	background-color: #e6defd;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	margin-top: 8px !important;
	margin-left: 29px !important;
}

.dropdown-item,
.dropdown-item {
	border-color: #5540c2 !important;
	font-size: 10pt !important;
	width: 100%;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 11pt;
	font-weight: bold;
}

.makeStyles-container-13 {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.MuiTypography-gutterBottom {
	margin-bottom: 10px !important;
}

/* estilo del boton que se encuentra a un lado delddl principal */
.MuiButtonBase-root {
	border-radius: 10px !important;
	border-style: solid !important;
	color: #b6c4ec !important;
	font-size: xx-large !important;
}

/* Back button */
.makeStyles-toolbarIcon-3 > button,
.jss3 > .MuiIconButton-root {
	border: 1px solid #e6defd;
	padding: 8px;
	margin:0 10px;
}

.makeStyles-toolbarIcon-3 > button:hover,
.jss3 > .MuiIconButton-root:hover {
	background-color: #E6DEFD;
}

.makeStyles-toolbarIcon-3 > button path,
.jss3 > .MuiIconButton-root path {
	color: #7158e2;
}

/* Notification icon (bell) style */
.MuiBadge-colorSecondary {
	color: #232c51 !important;
	background-color: #5af2e8 !important;
	border: 1px solid #232c51;
	font-weight: bold !important;
	font-family: "Muli", sans-serif !important;
}

/* Notification number location from notification icon (bell) from menu */
.MuiBadge-anchorOriginTopRightRectangle {
	transform: scale(1) translate(58%, -17%) !important;
}

/** Avatar options */
.avatarIcon{
	position: relative;
}

.avatarOptions{
	position: absolute;
	background-color: #fff;
	top: 50px;
	right: 0;
	box-shadow: 0px 16px 24px rgba(35, 44, 81, 0.08);
	max-width: 300px;
	border-radius: 10px;
	font-size: 0.45em;
	color: #232C51;
	font-weight: 100;
	font-family: "Muli",sans-serif;
}

.avatarInfo{
	border-bottom: 1px solid #e7e7eb;
	padding: 30px 30px 10px;
}

.avatarInfo img{
	height: 80px;
}

.avatarInfoText{
	margin: 10px 0;
}

.avatarInfoName{
	text-transform: uppercase;
	font-weight: 400;
}

.avatarActionsList{
	list-style: none;
	padding: 0;
	margin: 0;
}

.avatarActionListOption{
	padding: 10px;
	text-align: left;
}

.avatarActionListOption:hover{
	background-color: #E6DEFD;
}

.avatarActionListOption img{
	height: 10px;
}

.avatarActionListOption span{
	margin-left: 10px;
}