.Title {
    width: 100%;
    display: flex;
    flex:1;
    height:100%;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 3px;
}

.SubTitle {
    width: 100%;
    display: flex;
    flex:1;
    height:100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.Button {
    background-color: #7158E2;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex:1;
    color:white;
    cursor: pointer;
    padding: 0 15px;
}

.Button:hover {
    background-color: #5540C2;
}

.HeaderStyle {
    width: 100%;
    display: flex;
    flex:1;
    height:100%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.HeaderGroupStyle {
    width: 100%;
    display: flex;
    flex:1;
    height:100%;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 14px;
    font-weight: normal;
    padding-top: 25px;
}
