body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli-Regular'), url(./fonts/muli/Muli-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli-Light'), url(./fonts/muli/Muli-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 300;
  src: local('Muli-LightItalic'), url(./fonts/muli/Muli-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: normal;
  src: local('Muli-Italic'), url(./fonts/muli/Muli-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Goldplay';
  font-style: normal;
  font-weight: normal;
  src: local('Goldplay-Light'), url(./fonts/goldplay/Goldplay-Light.otf) format('opentype');
}
