body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MuliRegular';
  src: local('MuliRegular'), url(./fonts/muli/Muli-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MuliLight';
  src: local('MuliLight'), url(./fonts/muli/Muli-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'MuliLightItalic';
  src: local('MuliLightItalic'), url(./fonts/muli/Muli-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'MuliItalic';
  src: local('MuliItalic'), url(./fonts/muli/Muli-Italic.ttf) format('truetype');
}

